html {
    --custom-font: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

.section {
    margin-top:0;
    padding-top:0;
}

p {
    font-family: var(--custom-font);
}

.subtitle {
    font-family: var(--custom-font);
}

.title {
    font-family: var(--custom-font);
}

#title {
    font-family: var(--custom-font);
}