html {
    --custom-font: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

p {
    font-family: var(--custom-font);
}

.subtitle {
    font-family: var(--custom-font);
}

.title {
    font-family: var(--custom-font);
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

#download {
    padding-top: 10%;
    padding-bottom: 10%;
}

.how_icons {
    font-size: 45px;
    color: #67B43D;
    margin-bottom: 3rem;
    margin-top: 1rem; 
}

#bouncy {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    position: absolute;
    bottom: 15px;
    left: 50%;
    font-size: 35px;
}

footer div img {
    width: 150px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }

}