html {
    --custom-font: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

::placeholder {
    color: white;
}

.how_icons {
    font-size: 45px;
    color: #67B43D;
    margin-bottom: 3rem;
    margin-top: 1rem; 
}

.link {
    color: #67B43D;
    text-decoration: underline;
}

.section {
    margin-top:0;
    padding-top:0;
}

p {
    font-family: var(--custom-font);
}

.subtitle {
    font-family: var(--custom-font);
}

.title {
    font-family: var(--custom-font);
}

#title {
    font-family: var(--custom-font);
}

#headerStuff {
    background-color: rgb(103,180,61, 0.5);
    height: 500px;
    margin-top: -100px;
}
#images {
    margin-bottom: 5%;
    margin-top: 5%;
}
#videoDiv2 {
    position:absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}
video {
    min-width: 100%;
    max-height: 500px;
    object-fit: fill;
}

footer div img {
    width: 150px;
}

.estateAgents {
    margin-top: -7px;
    padding-top: -7px;
}

.title span {
    border-right: .05em solid;
    animation: indicator 1s steps(1) infinite;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}

.hero-has-padding {
    padding: 5%
}

#titleColumn {
    position: absolute;
    right: 0;
    min-height: 500px;
    max-height: 500px
}

@media (max-device-width: 767px) {

}

footer .container .columns .column{
    text-align: center;
}

@keyframes indicator {
    50% {
        border-color: transparent;
    }
}
