@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$green: #67B43D;
$beige-light: #efe7db;
$white: #ffffff;
$light-green: rgb(239, 243, 236);

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$light: $light-green;
$widescreen-enabled: true;
$fullhd-enabled: false;
$info: rgba(256,256,256,0);
// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-shadow: none;
// $section-padding: 6rem;
// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
